.burgeringredients_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 32px;

}

.burgeringredients_card__ingredient_price {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.burgeringredients_card__ingredient_name {
    text-align: center;
    color: #fff;
}