.mainbox {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 20vh;

}

.link {
    text-decoration: none;
    color: #4C4CFF;
}

.button {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}